# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Cache
.turbo
.cache

# Environment files
.env*

# Coverage
coverage

# Database
prisma/migrations

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
*.log

# OS files
.DS_Store
